@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

:root {
  box-sizing: border-box;
}

.font-inter-light {
  font-family: "Inter Light";
}

.font-inter-medium {
  font-family: "Inter Medium";
}
.font-inter-bold {
  font-family: "Inter Bold";
}
.font-inter-semibold {
  font-family: "Inter Semibold";
}

