@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* default to white */
  --foreground: #171717; /* default to dark text */
    box-sizing: border-box;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.font-inter-light {
  font-family: "Inter Light";
}

.font-inter-medium {
  font-family: "Inter Medium";
}
.font-inter-bold {
  font-family: "Inter Bold";
}
.font-inter-semibold {
  font-family: "Inter Semibold";
}
